@import "vars"
/*==========  Desktop First  ==========*/

+media-breakpoint-down(xl)
    #portfolio
        .allworks
            text-align: right
    .block-right
        margin-right: 22px
    .actions-blog
        .col-md-3
            flex: 0 0 23%
            max-width: 23%
    #catalogue
        .col-md-4
            flex: 0 0 31%
            max-width: 31%
+media-breakpoint-down(lg)
    #portfolio
        .allworks
            text-align: right
    .block-right
        margin-right: 16px
    .actions-blog
        .col-md-3
            flex: 0 0 23%
            max-width: 23%
    #catalogue
        .col-md-4
            flex: 0 0 31%
            max-width: 31%
+media-breakpoint-down(md)
    #crew
        .crew-info
            width: 100%
    .item-page
        padding-left: 0px
        padding-right: 0px
    .page-header
        margin-top: 0px
    #catalogue
        .col-md-4
            flex: auto
            max-width: 45%
        .img-fluid, .img-thumbnail
            height: auto
            padding: 10px
        .card
            margin-left: 15px
            margin-right: 15px
    .actions-blog
        .col-md-3
            flex: auto
            max-width: 45%
    #portfolio
        .allworks
            text-align: right
    #slider
        h1
            font-size: 40px
        .slider-caption
            top: 60px
            p
                font-size: 15px
                margin-top: 25px
        .slick-dots
            display: none
    #mainmenu
        .mobile-status
            margin-left: 20px
        .mobile-adress
            font-family: "Roboto-Light"
            font-size: 13px
            color: #ffffff
            padding-left: 20px
            padding-top: 50px
        .mobile-phone
            padding-left: 20px
            color: #ffffff
            font-family: 'OpenSans-Bold'
            font-size: 15px
            text-transform: uppercase
        li
            font-family: 'OpenSans-Bold'
            text-transform: uppercase
            color: #d3d3d3
            font-size: 13px
            padding-left: 20px
            padding-bottom: 6px
            padding-top: 6px
            border-bottom: 1px solid #444444
        a
            color: #d3d3d3
        a:hover
            color: #ffffff
        .active
            a
                color: #da4d11
        .dropdown-menu
            margin-right: 20px
    .langs
        max-width: 100%
        text-align: center
    .langs-black
        font-family: "Roboto-Light"
        font-size: 14px
        text-align: center
        a
            padding: 0px 6px
            color: #a7a7a7
        .active
            font-weight: bold
            color: #ffffff
    .rowMenuBlack
        background-color: #151515
        color: #ffffff
    #navbarSupportedContent
        background-color: #151515
        color: #ffffff
    .block-right
        margin-right: 0px
    .footer-adress, .footer-phone
        text-align: center
    .footermenu
        ul
            text-align: left
            padding-left: 0px
            margin-bottom: 0px
            li
                border-bottom: 1px solid #444444
                padding: 10px 0 10px 30px
    .footermenu2
        ul
            text-align: left
            padding-left: 0px
            li
                border-bottom: 1px solid #444444
                padding: 10px 0 10px 30px
        p
            text-align: left
            margin-left: 30px
    .navbar-toggler
        background-color: #da4d11
        border-radius: 0px
        .navbar-toggler-icon
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    .footer-adress, .footer-phone
        text-align: left
    .footer-phone
        padding: 30px 0px 0px 30px
    .footer-adress
        padding: 10px 0px 30px 30px
    .bannerimg
        background-position: 150% 100%
    .footer-phone
        padding: 30px 0 0 15px
    .footer-adress
        padding: 30px 0 0 15px
    .logo
        padding-left: 15px
+media-breakpoint-down(sm)
    #portfolio
        .ptitle
            padding-left: 30px
    #crew
        .crew-info
            width: 100%
        .slick-next
            right: 0px
            top: 40%
            display: none
        .slick-prev
            left: -15px
            top: 40%
            z-index: 500
            display: none
        .crew-img
            img
                width: 100%
    #cinfo
        .title
            text-align: center
    .default-page
        margin-right: 0
        margin-left: 0
    #catalogue
        .col-md-4
            flex: auto
            max-width: 100%
        .img-fluid, .img-thumbnail
            height: auto
            padding: 10px
    .actions-blog
        .col-md-3
            flex: auto
            max-width: 100%
    #portfolio
        .allworks
            text-align: left
    #mobileslider
        h1
            font-size: 28px
        .slider-caption
            width: 70%
            top: 30px
            p
                font-size: 16px
                margin-top: 30px
        .slick-dots
            display: none
    #orderStatus
        #number
            width: 100%
            margin-bottom: 10px
        #date
            width: 100%
        .modal-title
            text-align: center
    #toTop
        right: 10%
    #mainmenu
        li
            font-family: 'OpenSans-Bold'
            text-transform: uppercase
            color: #d3d3d3
            font-size: 13px
            padding-left: 20px
            padding-bottom: 6px
            padding-top: 6px
            border-bottom: 1px solid #444444
        a
            color: #d3d3d3
        a:hover
            color: #ffffff
        .active
            a
                color: #da4d11
        .dropdown-menu
            margin-right: 20px
    .langs
        font-family: "Roboto-Light"
        font-size: 14px
        text-align: center
        a
            padding: 0px 2px
            color: #565656
        .active
            font-weight: bold
            color: #000000
    .langs-black
        font-family: "Roboto-Light"
        font-size: 14px
        max-width: 180px
        text-align: center
        a
            padding: 0px 3x
            color: #a7a7a7
        .active
            font-weight: bold
            color: #ffffff
    .footer-adress, .footer-phone
        text-align: left
    .block-right
        margin-right: 0px
    .footermenu
        ul
            text-align: left
            padding-left: 0px
            margin-bottom: 0px
            margin-top: 15px
            li
                border-bottom: 1px solid #444444
                padding: 10px 0 10px 15px
    .footermenu2
        ul
            text-align: left
            padding-left: 0px
            li
                border-bottom: 1px solid #444444
                padding: 10px 0 10px 15px
        p
            text-align: left
            margin-left: 15px
    .logo
        padding-left: 15px
    .navbar-toggler
        background-color: #da4d11
        border-radius: 0px
        .navbar-toggler-icon
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    #cinfo
        .separator
            border-right: 0px solid #cccccc
        .contacts-info
            text-align: center
    #mainlayout
        margin-right: 0
        margin-left: 0
    .breadcrumb
        margin: 20px 0px 0px -15px
    #mainPageMobileBanner
        position: relative
        .bannerimg
            min-height: 290px
            background-position: 150% 100%
            background-repeat: no-repeat
        .banner-caption
            position: absolute
            top: 20px
            width: 70%
            padding-left: 25px
        .banner-title
            font-family: 'OpenSans-ExtraBold'
            font-size: 18px
            color: #ffffff
        .banner-desc
            font-family: "Roboto-Light"
            font-size: 15px
            padding-top: 20px
            p
                color: #ffffff
        .banner-alt
            font-family: 'Roboto-Bold'
            color: #ffffff
            font-size: 15px
            padding-top: 10px

+media-breakpoint-down(xs)
    #mainPageMobileBanner
        .bannerimg
            background-position: 300% 100%
        .banner-caption
            width: 100%
    /*==========  Mobile First  ==========*/
+media-breakpoint-up(xs)
+media-breakpoint-up(sm)
+media-breakpoint-up(md)
+media-breakpoint-up(lg)
+media-breakpoint-up(xl)
