@import "node_modules/bootstrap/scss/bootstrap"
@import "vars"
@import "fonts"

body
    font-size: 14px
    color: #000000
    overflow-x: hidden
    background-color: #f5f5f5
h1, h2, h3, h4, h5, h6
    color: #000000
h1
    font-size: 40px
h2
    font-size: 32px
h3
    font-size: 22px
h4
    font-size: 20px
h5
    font-size: 18px
h6
    font-size: 16px
a
   color: #748ec4
a:hover
    text-decoration: none
p, ul, ol
    font-size: 16px
    color: #676767
    font-size: 14px
button
    background: none
    border-radius: 20px
.top
    font-family: "Roboto-Light"
    font-size: 12px
    background: #f5f5f5
    padding: 10px 0px
    color: #646464
.logo
    padding-left: 20px
    padding-right: 0px
.langs
    font-family: "Roboto-Light"
    font-size: 13px
    max-width: 110px
    a
        padding: 0px 6px
        color: #565656
    .active
        font-weight: bold
        color: #000000
.work-h
    margin-right: 75px
.whatsapp
    font-size: 14px
    font-weight: bold
    color: #000000
    a
        color: #000000
.rowMenu
    background-color: #ffffff
    padding: 10px 0
#mainmenu
    li
        font-family: 'OpenSans-Bold'
        text-transform: uppercase
        color: #000000
        font-size: 12px
    a
        color: #000000
    a:hover
        color: #d84f12
    .active
        a
            color: #da4d11
    .dropdown-menu
        top: 37px
        min-width: 220px
        border: none
        border-radius: 0px
        padding-bottom: 0px
        left: -4px
        ul
            margin: 0px
            padding-left: 0px
            list-style: none
            li
                border-bottom: 1px solid #eef2f6
                padding: 5px 5px 5px 0px
                background-image: url("../images/icons/menu-arrow.png") 
                background-repeat: no-repeat
                background-position: 92% 50%
                a
                    padding-left: 15px
                    color: #000000
                a:hover
                    color: #d84f12
            .active
                a
                    color: #da4d11
       
.orderStatusButton
    border: 0
    background-color: #da4d11
    color: #ffffff
    text-transform: uppercase
    font-size: 11px
    font-family: 'OpenSans-Bold'
    padding: 12px 25px
#slider, #mobileslider
    .slick-loading .slick-list
        background: #fff url('../images/icons/ajax-loader.gif') center center no-repeat
    .slick-dotted.slick-slider
        margin-bottom: 30px
    .slick-dots
        position: absolute
        bottom: 25px
        left: 30px
        display: block
        width: 100%
        padding: 0
        margin: 0
        list-style: none
    .slick-dots li
        position: relative
        display: inline-block
        width: 20px
        height: 20px
        margin: 0 5px
        padding: 0
        cursor: pointer
    .slick-dots li button
        font-size: 0
        line-height: 0
        display: block
        width: 20px
        height: 20px
        padding: 5px
        cursor: pointer
        color: transparent
        border: 0
        outline: none
        background: transparent
        background: url("../images/icons/dot.png") no-repeat
        background-position: 50% 50%
    .slick-dots li.slick-active button
        background: url("../images/icons/active-dot.png") no-repeat
        background-position: 50% 50%
    .slick-dots li button:hover,
    .slick-dots li button:focus
        outline: none
    .slick-dots li button:hover:before,
    .slick-dots li button:focus:before
        opacity: 1
    .slick-dots li button:before
        font-size: 6px
        line-height: 20px
        position: absolute
        top: 0
        left: 0
        width: 20px
        height: 20px
        text-align: center
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
    .slider-caption
        position: absolute
        top: 80px
        h1
            color: #ffffff
            font-family: 'OpenSans-ExtraBold'
        p
            color: #ffffff
            margin-top: 50px
            font-family: "Roboto-Light"
            font-size: 18px
.blocks
    background: #000000
    min-width: 49%
.block-img
    background-position: 40% 100%
.block-title
    font-family: 'OpenSans-Bold'
    color: #ffffff
    padding: 25px 0px 0px 25px
.block-separator
    border-top: 2px solid #d34e0e
    width: 60px
    padding-left: 40px
    margin-left: 25px
.block-right
    margin-right: 22px
.articles-list
    columns: 2
    -webkit-columns: 2
    -moz-columns: 2
    list-style: none
    li
        a
            color: #bcbcbc
            font-family: "Roboto-Light"
.all-models
    color: #bcbcbc
    font-family: "Roboto-Light"
.all-models:hover
    color: #bcbcbc
.allModels-title
    
#about
    padding: 10px
    background-color: #ffffff
    .about-title
        font-family: 'OpenSans-ExtraBold'
    .about-list
        h4
            font-family: 'OpenSans-Bold'
            font-size: 16px
.btn-about
    text-transform: uppercase
    border: 2px solid #da4d11
    padding: 10px 30px
    border-radius: 25px
    font-size: 12px
    font-family: 'OpenSans-Bold'
    color: #da4d11
.banner-img-bg
    height: 294px
    width: 100%
    background-repeat: no-repeat
#video
    color: #ffffff
    min-height: 514px
    cursor: pointer
    h2
        color: #ffffff
        font-family: 'OpenSans-Bold'
        font-size: 36px
    .video-btn
        background-color: #d74f12
        color: #ffffff
        font-size: 14px
        margin: 10px 0px
    .video-description
        color: #ffffff
        font-family: "Roboto-Light"
        font-size: 16px
        margin-top: 20px
#mainPageBanner
    .bannerimg
        width: 100%
        height: 294px
        background-size: cover
        overflow: hidden
    .bannerName
        padding: 30px
        color: #ffffff
        font-family: 'OpenSans-ExtraBold'
        font-size: 28px
    .bannerDescription
        font-family: "Roboto-Light"
        color: #ffffff
        padding: 0px 0px 30px 30px
        font-size: 18px
    .bannerAltDesc
        color: #ffffff
        padding-left: 30px
        font-size: 24px
#crew
    background-color: #e8ebee
    padding: 30px 20px 30px 30px
    .crew-img
        padding-right: 15px
        overflow: hidden
    .crew-about
        background-color: #000000
        color: #ffffff
        display: block
        margin-right: 15px
        padding: 10px
    .crew-name
        font-family: 'OpenSans-Bold'
        color: #ffffff
        margin-bottom: 2px
        font-size: 18px
    .crew-title
        color: #000000
        font-family: 'OpenSans-ExtraBold'
    .crew-caption
        color: #ffffff
        font-style: italic
    .crew-alt
        color: #ffffff
    .crew-info
        font-family: "Roboto-Light"
        font-size: 16px
        padding: 10px 0px
        width: 85%
        /* Arrows */
    .slick-prev,
    .slick-next
        font-size: 0
        line-height: 0
        position: absolute
        display: block
        padding: 0
        -webkit-transform: translate(0, -50%)
        -ms-transform: translate(0, -50%)
        transform: translate(0, -50%)
        cursor: pointer
        color: transparent
        border: none
        outline: none
        background: transparent
    .slick-next
        background-image: url("../images/icons/next.png")
        width: 41px
        height: 41px
        right: 20px
        top: -60px
    .slick-prev
        background-image: url("../images/icons/prev.png")
        width: 41px
        height: 41px
        left: 92%
        top: -60px
    .slick-next:hover
        background-image: url("../images/icons/hover-next.png")
    .slick-prev:hover
        background-image: url("../images/icons/hover-prev.png")
#portfolio
    background-color: #f5f5f5
    overflow: hidden
    h2
        color: #000000
        font-family: 'OpenSans-ExtraBold'
    .btn-portfolio
        border: 2px solid #da4d11
        padding: 10px 30px
        border-radius: 25px
        font-size: 14px
        font-family: OpenSans-Bold
        color: #da4d11
    .portfolio-desc
        background-color: #ffffff
    .portfolio-title
        font-family: 'OpenSans-Bold'
    .portfolio-alt
        font-family: "Roboto-Light"
        font-style: italic
    .portfolio-service
        font-family: 'OpenSans-ExtraBold'
        font-weight: bolder
        color: #000000
#footer
    background-color: #151515
    color: #a6a6a6
    font-family: "Roboto-Light"
    .footer-phone
        color: #ffffff
        font-family: 'OpenSans-Bold'
        font-size: 24px
    .footer-email
        color: #ffffff
        font-family: "Roboto-Light"
        font-size: 16px
    .country, .city, .shedule
        color: #ffffff
        font-size: 15px
    .footermenu, .footermenu2
        ul
            list-style: none
            font-size: 15px
            li
                padding-top: 10px
                a
                    text-decoration: none
                    color: #d9d9d9
                a:hover
                    text-decoration: underline
    .footermenu2
        ul
            padding: 0
        .online
            a
                color: #ffffff
                font-size: 15px
        .btn-status
            border: 2px solid #da4d11
            padding: 10px 30px
            border-radius: 25px
            font-size: 14px
            font-family: "OpenSans-Bold"
            color: #ffffff
#bottom
    background-color: #101010
    .copyrights
        color: #a6a6a6
        font-family: "Roboto-Light"
        font-size: 13px  
    .studio
        color: #a6a6a6
        font-family: "Roboto-Light"
        font-size: 13px
        a
           color: #ffffff
    .sociallinks
        p
            padding-left: 5px
    .vk
        a
            display: block
            width: 36px
            height: 36px
            background-image: url("../images/icons/vk-gray.png")
        a:hover
            background-image: url("../images/icons/vk.png")
    .facebook
        a
            display: block
            width: 36px
            height: 36px
            background-image: url("../images/icons/facebook.png")
        a:hover
            background-image: url("../images/icons/facebook-color.png")
    .twitter
        a
            display: block
            width: 36px
            height: 36px
            background-image: url("../images/icons/twitter.png")
        a:hover
            background-image: url("../images/icons/twitter-color.png")
    .insta
        a
            display: block
            width: 36px
            height: 36px
            background-image: url("../images/icons/insta.png")
        a:hover
            background-image: url("../images/icons/insta-color.png")
#toTop 
    width: 60px
    height: 60px
    border-radius: 30px
    background: #da4d11
    color: #fff
    position: fixed
    bottom: 30px
    right: 5%
    display: none
    font-size: 34px
    opacity: 0.8
    padding-top: 1px
    cursor: pointer   
.item-page
    width: 100%
    a
        color: #da4d11
    .active
        color: #000000
.page-header
    font-family: 'OpenSans-ExtraBold'
    margin-bottom: 20px
    margin-top: 2px
#cinfo
    background: #ffffff
    margin-bottom: 15px
    padding: 20px 30px
    color: #000
    font-size: 14px
    .title
        font-family: "Roboto-Bold"
    .separator
        border-right: 1px solid #cccccc
    .phones
        font-family: "Roboto-Light"
        font-size: 15px
    .phones-title
        font-family: "Roboto-Bold"
        font-size: 14px
.contact-form
    padding: 0px 15px
    .props-info
        font-family: "Roboto-Light"
        font-size: 15px
    #props
        background-color: #ffffff
        overflow: hidden
        h2
            font-family: "Roboto-Bold"
            padding-bottom: 20px 
#cform
    background-color: #da4d11
    font-family: "Roboto-Light"
    font-size: 14px
    h2
        color: #ffffff
        font-family: "Roboto-Bold"
    input
        width: 100%
        padding: 12px
        margin-bottom: 10px
        border: 0
    textarea
        width: 100%
        margin-bottom: 10px
        border: 0
        padding: 10px
    .btn-contacts
        color: #ffffff
        text-transform: uppercase
        padding: 10px 30px
        border-radius: 25px
        font-size: 12px
        font-family: "OpenSans-Bold"
        background-color: #151515
        border: 0
.actions-blog
    a
        color: #000000
    .cat-alt
        font-family: "Roboto-Light"
        font-size: 16px
    .item-image
        width: 100%
        overflow: hidden
        img
            width: 100%
    .card
        border: 0
        margin: 0 10px 20px 10px
    .card-text
        font-family: "Roboto-Light"
        font-size: 14px
    .forseo
        background-color: #ffffff
        p
            font-family: "Roboto-Light"
            font-size: 14px
            line-height: 24px
        h2
            font-family: 'OpenSans-ExtraBold'
            padding-bottom: 10px
.pagination
    font-size: 14px
    .active
        .page-link
            background-color: #da4d11
            border-color: #da4d11
.page-link
    color: #da4d11
#orderStatus
    #number
        width: 50%
        margin-right: 15px
    #date
        width: 40%
    .alert
        margin-bottom: 5px
        margin-top: 5px
    .close
        line-height: 0.7
.modal-dialog
    max-width: 540px
.modal-title
    font-family: 'OpenSans-ExtraBold'
    font-size: 28px
.modal-header
    .close
        font-family: "Roboto-Light"
        font-size: 44px
        padding-right: 30px
.modal-header
    padding: 0
    border: 0
.modal-body
    padding-top: 0px
    padding-left: 20px
    padding-right: 20px
    padding-bottom: 20px
    .orderStatusCaption
        font-family: "Roboto-Light"
        font-size: 12px
        color: #6e6e6e
        padding: 5px 0px
    .btn-orderStatus 
        color: #ffffff
        text-transform: uppercase
        padding: 10px 30px
        border-radius: 25px
        font-size: 10px
        font-family: "OpenSans-Bold"
        background-color: #da4d11
        border: 0
    input
        padding: 8px
        background-color: #f5f5f5
        border: 0
#catalogue
    a
        color: #000000
    a:hover
        color: #da4d11
    .forseo
        background-color: #ffffff
        p
            font-family: "Roboto-Light"
            font-size: 14px
            line-height: 24px
        h2
            font-family: 'OpenSans-ExtraBold'
            padding-bottom: 10px
    .img-fluid, .img-thumbnail
        height: 230px
        padding: 10px
    .mr-3
        margin-right: 1.2rem!important
    .pull-left
        align-self: center!important
    .btn-catalogue
        color: #da4d11
        text-transform: uppercase
        padding: 10px 20px
        border-radius: 25px
        font-size: 11px
        font-family: "OpenSans-Bold"
        background-color: #ffffff
        border: 2px solid #da4d11
        text-align: center
        margin-bottom: 15px
    .btn-catalogue:hover
        color: #ffffff
        background-color: #da4d11
        cursor: pointer
#catalogueList
    list-style: none
    padding-left: 0px
    font-family: "OpenSans-Bold"
    font-size: 16px
    .items
        list-style: none
        background-color: #ffffff
        font-family: "Roboto-Light"
        padding-left: 30px
        padding-top: 8px
        padding-bottom: 8px
        line-height: 1.8em
        a
            color: #000000
        a:hover
            color: #da4d11
        .active
            color: #da4d11
    .cats
        color: #ffffff
        background-color: #da4d11
        line-height: 3.0em
        cursor: pointer
        span
            padding-left: 15px
    .collapsed
        background-color: #000000
        border-bottom: 2px solid #464646
#cataloglayout
    .breadcrumb
        background-color: inherit
        font-family: "Roboto-Light"
        font-size: 14px
        margin: 12px 0px 0px -15px
.breadcrumb
    background-color: inherit
    font-family: "Roboto-Light"
    font-size: 14px
    margin: 20px 0px 0px -30px
    a
        color: #da4d11
#itemPage
    .page-header
        margin-top: 23px
    p, li
       font-family: "Roboto-Light"
       font-size: 15px
    h4, h6
        font-family: "Roboto-Bold"
    ul
        list-style: square
        padding-left: 15px
    li
        color: #da4d11
        line-height: 2em
        div
            color: #676767
    .item-image
        align-self: center!important
    .caption
        line-height: 1.8em
    table
       font-family: "Roboto-Light"
       font-size: 15px
       a 
           color: #da4d11
    .table-caption
        p
            font-size: 12px
            margin-bottom: 5px
#closeIcon 
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' %3E%3Cpath fill='white' d='M17.71 17.71a.99.99 0 0 1-1.4 0L10 11.4l-6.31 6.31a.99.99 0 1 1-1.4-1.4L8.6 10 2.29 3.69a.99.99 0 1 1 1.4-1.4L10 8.6l6.31-6.31a.99.99 0 1 1 1.4 1.4L11.4 10l6.31 6.31a.99.99 0 0 1 0 1.4z'/%3E%3C/svg%3E")
.navbar-toggler-icon
    height: 1.7em
    width: 1.4em
#system-message-container
    width: 100%
    margin-top: 10px
#myModal
    p
       font-family: "Roboto-Light"
       font-size: 15px
    h3
        font-family: "Roboto-Bold"
.order-string
    font-family: "Roboto-Light"
    font-size: 15px
.mobile-whatssapp
    border: 2px solid #1ac539
    color: #1ac539
    padding: 9px 20px
    border-radius: 25px
    font-size: 14px
    font-family: OpenSans-Bold
.mobilebanner
    min-height: 290px
    width: 100%
    background-position: 80% 50%
.item-page 
    min-height: 50vh
.item-page-devices
    min-height: 100%
.loader
    display: none
@media (min-width: 900px) and (max-width: 1199px)
    .nav-link, .orderStatusButton,.adress-h, .work-h
        font-size: 10px
    #logoImg
        width: 80%
@import "media" // Always at the end	