body {
	padding: 0;
	margin: 0;
}
.main {
	background-color: #f2f2f2;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.main table {
	padding: 10px;
	width: 100%;
	border-collapse: collapse;
}
.mainRow {
	text-align: center;
	font-size: 20px;
	height: 60px;
}
.rows {
	text-align: center;
	font-size: 20px;
	background-color: #53ADF9;
}
.rows td {
	border-right: 1px solid #f2f2f2;
	font-size: 18px;
    height: 60px;	
}
.color {
	background-color: #B8D8ED;
}
.spec {
	width: 15%;
}
.cabinet {
	width: 15%;
}
.fio {
	width: 25%;
}
.outDay {
	background-color: #ccc;
}
.loader {
	width: 100%;
	height: 100%;

}
